html {
    background-color:antiquewhite;
    margin: 50px;
}
p {
    font-style:normal;
    accent-color: black;
    font-family:sans-serif;
    text-align: right;

}
h1 {
    margin-left: 80mm;
    font-weight: lighter;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    padding:10mm;
}