* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(260deg,#2da260, #79e2f9);
}
.weather {
  width: 400px;
  background-color: white;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -60%);
  top: 50%;
  left: 50%;
  box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
  border-radius: 20px;
}
.name {
  translate: 105px;
  font-size: 35px;
  color:#2d8ba2;
}
.input {
  width: 100%;
  padding-top: 10px;
}
.txt {
  border-width: 2px;
  border-radius: 5px;
  border-color: grey;
  background-color: white;
  width:340px;
  height:35px;
  font-size: 20px;
}
.txt::placeholder {
  color: #787087;
  text-align: center;
  font-size: 15px;
}
.solid {
  border-top: 0.01px solid rgb(178, 178, 178);
}
/* .display {
  display: inline-block;
  background-color: white;
  width: 400px;
  height: 100px;
  padding: 50px 30px;
  position: absolute;
  box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
  transform: translate(150%, 80%);
} */
.temp {
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
}
.temp-value {
  margin-left: 5px;
}
.temp-value, .city-name {
  display: inline-block;
}
.send {
  background-color:rgb(0, 141, 176);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 70px;
  margin-left: 135px;
  margin-top: 10px;
}
.send:hover {
  opacity: 0.75;
  cursor: pointer;
}
.other-solid {
  border-top: 0.01px solid rgb(178, 178, 178);
  margin-top: 10px;
}